@font-face {
  font-family: "Px Grotesk";
  src: url("/fonts/Px/Px-Grotesk-Regular.ttf") format("truetype"),
    url("/fonts/Px/Px-Grotesk-Light.ttf") format("truetype"),
    url("/fonts/Px/Px-Grotesk-Bold.ttf") format("truetype");
  // font-display: swap;
}

:root {
  --font: "Px Grotesk";
  --font-secondary: "";
  --font-mono: "";
}
