h1,
h2,
h3,
body,
a,
button,
input,
label,
textarea,
select {
  font-family: var(--font), sans-serif;
}

// Variables for Typography
$default-viewport: 1200;
$scale-factor: 10;

// Minimum and maximum font sizes for different elements
$min-font-size-body: 5px;
$max-font-size-body: 18px;

$min-font-size-h1: 24px;
$max-font-size-h1: 60px;

$min-font-size-h2: 20px;
$max-font-size-h2: 50px;

$min-font-size-h3: 16px;
$max-font-size-h3: 40px;

// Mixin for responsive font size
@mixin responsive-font-size($min-size, $base-size, $max-size) {
  font-size: clamp(
    $min-size,
    $base-size,
    calc(#{$scale-factor} * (100vw / $default-viewport))
  );
}

// Base Body Style
body {
  @include responsive-font-size($min-font-size-body, 16px, $max-font-size-body);
}

// Headings
h1 {
  @include responsive-font-size($min-font-size-h1, 36px, $max-font-size-h1);
}

h2 {
  @include responsive-font-size($min-font-size-h2, 30px, $max-font-size-h2);
}

h3 {
  @include responsive-font-size($min-font-size-h3, 24px, $max-font-size-h3);
}
