/* styles/Playlist.module.css */

.playlist {
  width: 200px;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #05240f;
  transition: background-color 0.3s ease;
}

.playlist:hover {
  background-color: #000;
}

.playlistImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
