.row {
  position: relative;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  transition: 0.44s;
  transition-timing-function: ease-out;
  padding: 3rem 0.5rem 3rem 1rem;

  &:hover {
    // background-color: #000000;
    // color: white;
    background-color: var(--hover-color);
  }
}

.title {
  line-height: 3rem;
}
.plusButton {
  position: absolute;
  // top: 0;
  // right: 0;
  bottom: 0.5rem;
  right: 0;
}

.childrenContainer {
  // width: 100%;
  display: flex;
  flex-direction: row;
}
