@font-face {
  font-family: "Px Grotesk";
  src: url("/fonts/Px/Px-Grotesk-Regular.ttf") format("truetype");
  font-weight: 500;
  // font-display: swap;
}
@font-face {
  font-family: "Px Grotesk";
  src: url("/fonts/Px/Px-Grotesk-Light.ttf") format("truetype");
  font-weight: 300;
  // font-display: swap;
}
@font-face {
  font-family: "Px Grotesk";
  src: url("/fonts/Px/Px-Grotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  // font-display: swap;
}

:root {
  --font: "Px Grotesk";
}
