@use "sass:math";

/* Breakpoints */
$mobile-breakpoint: get("breakpoints.mobile");

// Viewport Sizes
$desktop-width: get("viewports.desktop.width");
$desktop-height: get("viewports.desktop.height");

$mobile-width: get("viewports.mobile.width");
$mobile-height: get("viewports.mobile.height");

@function pxToVw($px, $base-width: $desktop-width) {
  @return ($px / $base-width) * 100 * 1vw;
}

@function pxToVh($px, $base-height: $desktop-height) {
  @return ($px / $base-height) * 100 * 1vh;
}

// Breakpoint

@function mobile-vw($pixels) {
  @return pxToVw($pixels, $mobile-width);
}

@function mobile-vh($pixels) {
  @return pxToVh($pixels, $mobile-height);
}

@function desktop-vw($pixels) {
  @return pxToVw($pixels, $desktop-width);
}

@function desktop-vh($pixels) {
  @return pxToVh($pixels, $desktop-height);
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin reduced-motion {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}
