.gridContainer {
  width: 100vw;
  height: 100vh;
  // display: flex;
  // overflow: hidden;
  // overscroll-behavior: none;
  color: var(--theme-primary);

  @media (max-width: 835px) {
    flex-direction: column;
  }
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100vh;
  overflow-y: auto;
  @media (max-width: 835px) {
    padding: 4rem 0 0 0;
    h3 {
      line-height: 100%;
    }
  }
}
