.gridContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  overscroll-behavior: none;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100vh;
  overflow-y: auto;
  @media (max-width: 768px) {
    padding: 0rem;
    h3 {
      line-height: 100%;
    }
  }
}
