.content {
  // display: flex;
  // flex-direction: column;
  // grid-column: 1 / 3;
  // // align-items: center;

  // padding: 3rem;
  height: 100vh;
  overflow-y: auto;
}

.belief {
  // width: 100%;
  padding: 3rem 2rem;
  margin-top: -1px;
  margin-right: -1px;
  border: 1px solid black;
  h1 {
    line-height: 100%;
    padding-bottom: 1rem;
  }

  h4 {
    max-width: 61.8%;
    font-weight: 300;
  }
}
