.row {
  position: relative;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}
.title {
  line-height: 3rem;
}
.plusButton {
  position: absolute;
  // top: 0;
  // right: 0;
  bottom: 0.5rem;
  right: 0;
}
